body{
	font-family: Courier New, Times New Roman, Arial;
	line-height: 1.2;
	background-color: blanchedalmond;
	margin: 0;
	padding: 0;
	/* margin: 0 0 0 0;  padding: 0 0 0 0 ; */
}

/*Main header css */
#headerMain{
	border-bottom: 3px solid black;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 0;
	margin:0;
	line-height: 1.0;
	background-color: rgb(56, 56, 73);
}

#headerMain h1 {
	margin: 0; padding: 0;
}

/*Title*/
.headWord{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 18px;
	background-color: red; 
	width: 22%;
	padding: 2px 0px 2px 2px;
	border-radius: 3px;
	margin: 0 0 0 20px;
}

/*Navigation bar*/
.nav {
	color: lightgreen;
	font-size: 16px;
	margin-left: 800px;
	float: inline-start;
}

.nav a{
	color: lightpink;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

.nav ul{
	margin: 5;
	padding: 5;
}

.nav li {
	display: inline;
}